<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring6diApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <module name="spring-6-di" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="ch.springframeworkguru.spring6di.Spring6diApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>